{% extends "base.html" %}
{% block title %}Add Books{% endblock %}
{% block content %}
<form method="POST">
    <h3 align="center">Add Books</h3>
    <div class="form-group">
        <label for="bookName">Book Name</label>
        <input
        type="text"
        class="form-control"
        id="bookName"
        name="bookName"
        placeholder="Enter Name of Author"
        />
    </div>
    <div class="form-group">
        <label for="bookAuthor">Author</label>
        <input
        type="text"
        class="form-control"
        id="bookAuthor"
        name="bookAuthor"
        placeholder="Enter Name of Author"
        />
    </div>
    <div class="form-group">
        <label for="bookCopies">Copies</label>
        <input
        type="text"
        class="form-control"
        id="bookCopies"
        name="bookCopies"
        placeholder="Enter Number of Copues"
        />
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Add Book</button>
</form>
{% endblock %}