{% extends "base.html" %}
{% block title %}Books{% endblock %}
{% block content %}
<br/>
<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Author</th>
            <th scope="col">Copies</th>
        </tr>
    </thead>
    <tbody>
        {% for row in output_data %}
            <tr>
                <td>{{row[0]}}</td>
                <td>{{row[1]}}</td>
                <td>{{row[2]}}</td>
                <td>{{row[3]}}</td>
            </tr>
        {% endfor %}       
    </tbody>
  </table>
{% endblock %}