{% extends "base.html" %}
{% block title %}Burrow Books{% endblock %}
{% block content %}
<form method="POST">
    <h3 align="center">Burrow Books</h3>
    <div class="form-group">
        <label for="userId">Library ID</label>
        <input
        type="text"
        class="form-control"
        id="userId"
        name="userId"
        placeholder="Enter Library Id Number"
        />
    </div>
    <div class="form-group">
        <label for="book1">First Book ID</label>
        <input
        type="text"
        class="form-control"
        id="book1"
        name="book1"
        placeholder="Enter book ID"
        />
    </div>
    <div class="form-group">
        <label for="book2">Second Book ID</label>
        <input
        type="text"
        class="form-control"
        id="book2"
        name="book2"
        placeholder="Enter book ID"
        />
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Burrow</button>
</form>
{% endblock %}