{% extends "base.html" %}
{% block title %}Register Library User{% endblock %}
{% block content %}
<form method="POST">
    <h3 align="center">Register Library User</h3>
    <div class="form-group">
        <label for="userFirstName">First Name</label>
        <input
        type="text"
        class="form-control"
        id="userFirstName"
        name="userFirstName"
        placeholder="Enter user's first name"
        />
    </div>
    <div class="form-group">
        <label for="userLastName">Last Name</label>
        <input
        type="text"
        class="form-control"
        id="userLastName"
        name="userLastName"
        placeholder="Enter user's last name"
        />
    </div>
    <div class="form-group">
        <label for="address">Address</label>
        <input
        type="text"
        class="form-control"
        id="address"
        name="address"
        placeholder="Enter user's address"
        />
    </div>
    <div class="form-group">
        <label for="phoneNumber">contact Number</label>
        <input
        type="text"
        class="form-control"
        id="phoneNumber"
        name="phoneNumber"
        placeholder="Enter user's Contact Number"
        />
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Register</button>
</form>
{% endblock %}